name: AzureBuildDockerImagePushACR
on:
  push:
    branches: [ "V0.01" ]
  pull_request:
    branches: [ "master" ] 
 
jobs:

  buildToACR:
    runs-on: ubuntu-latest
    needs: test
    defaults:
      run:
        shell: bash
        working-directory: Containerization
    steps:
    - uses: actions/checkout@v2
    - uses: azure/docker-login@v1
      with:
        login-server: doccontainers.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - run: |
        docker build . -t doccontainers.azurecr.io/myapp:${{ github.sha }}
        docker push doccontainers.azurecr.io/myapp:${{ github.sha }} 





   buildToAKS:
    runs-on: ubuntu-latest
    needs : buildToACR
    steps:
      - name: Checkout source code 
        uses: actions/checkout@v3
      - name: Set AKS context
        id: set-context
        uses: azure/aks-set-context@v3
        with:
          resource-group: '${{ secrets.RESOURCE_GROUP }}' 
          cluster-name: '${{ secrets.CLUSTER_NAME }}'
      - name: Setup kubectl
        id: install-kubectl
        uses: azure/setup-kubectl@v3
      - name: Deploy to AKS
        id: deploy-aks
        uses: Azure/k8s-deploy@v4
        with:
          namespace: 'default'
          manifests: |
             AKS.yaml
          images: 'doccontainers.azurecr.io/myapp:${{ github.sha }}'
          pull-images: false 
  